.relatedproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
}
.relatedproducts h1{
    color: #717171;
    font-size: 50px;
    font-weight: 600;
}
.relatedproducts hr{
    width: 200px;
    height: 6px;
    background: #252525;
    border-radius: 10px;
}
.relatedproducts-iteam{
    display: flex;
    margin-top: 50px;
    gap: 30px;
}
@media(max-width:500px){
    .relatedproducts{
        margin-top: 10px;
    }
    .relatedproducts h1{
        font-size: 30px;
    }
    .relatedproducts-iteam{
        display: flex;
        flex-wrap: wrap;
        width: 95vw;
        margin: auto;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
}