.new-collections{
   width: 98vw;
   margin: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.new-collections h1{
    columns: #171717;
    font-size: 40px;
    font-weight: 600;
}
.new-collections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.collections{
    width: 90vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
     gap: 30px;
     margin-top: 20px;
     justify-content: center;
}
@media (max-width:500px){
    .new-collections h1{
       font-size: 25px;
    }
    .collections{
        width: 98vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}