.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100vh;
}
.popular h1{
    columns: #171717;
    font-size: 40px;
    font-weight: 600;
}
.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.popular-iteam{
    width: 80vw;
    margin: auto;
    display: flex;
    margin-top: 50px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
@media (max-width:500px){
    .popular{
        width: 98vw;
        margin: auto;
        margin-top: 100px;
    }
    .popular h1{
        font-size: 20px;
    }
    .popular-iteam{
       width: 98vw;
       margin: auto;
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       justify-content: center;
    }
}